<p id="notice"><%= notice %></p>
<div class="container">
  <h1 class="h1">All Coupons for Better Letters</h1>
  <p class="p"> as of 4:00 AM April 11th EST </p>
  <p class="h1"><%= @coupons.last.created_at %></p>
  <table class="table-striped">
    <thead>
      <tr>
        <th>Code</th>
        <th>Use Code</th>
      </tr>
    </thead>

    <tbody>
      <% @coupons.each do |c| %>
        <tr>
          <td><%= c.code %></td>
          <% if c.times_used.to_i > 0 %>
          <td><%= link_to "Code Used", "https://gum.co/betterletters/" + c.code, class: "btn btn-danger disabled btn-sm"  %></td>
          <% else %>
          <td><%= link_to "Code Available", "https://gum.co/betterletters/" + c.code, class: "btn btn-success btn-sm"  %></td>
          <% end %>
        
          

        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Coupon', new_coupon_path %>
</div>